*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html, body{
    background-color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    padding: 0.2px 20px;
    height: 300vh;
}
.navigation-container{
    height: 148px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.logo{
    font-size: 30px;
    font-weight: 500;
}

/* nav fixed */
nav ul{
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 27px;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 5px 20px;
    position: fixed;
    left: 30%;
    right: 30%;
    top: 50px;
    z-index: 9999;
    backdrop-filter: blur(10px);
}
nav ul li a{
    color: #000000;
}
.navigation-container button{
    background-color: #485C11;
    color: #FFFFFF;
    padding: 14px 22px;
    border-radius: 50px;
    cursor: pointer;
}
.fa-arrow-down{
    margin-left: 5px;
    transform: rotate(230deg);
    transition: transform 0.5s;
}
.navigation-container button:hover{
    background-color: #709117;
}
.navigation-container button:hover .fa-arrow-down{
     transform: rotate(230deg) translateY(7px);
}
.hamburger-menu{
    display: none;
}
/* Hero section */
.hero-section{
    font-family: "Crimson Text", serif;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-section h1{
    font-size: clamp(3rem, 9vw, 10rem);
    font-weight: 200;
    line-height: 1.1;
    letter-spacing: -0.0425em;
    margin-bottom: clamp(2rem, 5vw, 5rem);
}
.img{
    width: 100%;
}
.img img{
    border: 7px solid rgb(18, 18, 18);
    border-radius: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
}
.img-bg{
    background-color: #8E9C78;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    border-radius: 20px;
}
.sponsor{
    padding: 2rem 0;
}
.sponsor p{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: darkgray;
}
.sponsor-item{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.benefit{
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.benefit h2{
    font-size: 1rem;
    color: darkgray;
}
.benefit h2 + p{
    font-family: "Crimson Text", serif;
    font-size: 3.5rem;
    color: black;
    letter-spacing: -0.0425em;
    font-weight: 100px;
}
.benefit p{
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    color: darkgray;
}
/* Responsive Breakpoints */

/* Tablet */
@media screen and (max-width: 1042px) {
    .hero-section h1{
        font-size: 7rem;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mobile */
@media screen and (max-width: 784px){
    .navigation-container{
        width: 100%;
    }
    nav{
        display: none;
    }
    button{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
}