*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html, body{
    background-color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    padding: 0.2px 20px;
    height: 300vh;
}
.navigation-container{
    height: 148px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.2;
    letter-spacing: -1.5px;
}
.logo{
    font-size: 30px;
    font-weight: 500;
}

/* nav fixed */
nav ul{
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 27px;
    font-weight: bold;
    font-size:  clamp(2px, 20px ,1.4rem);
    padding: 5px 20px;
    position: fixed;
    width: 50%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: 9999;
    backdrop-filter: blur(20px); /* Efek blur */
    text-wrap: nowrap;
}
nav ul li a{
    color: #000000;
}
.navigation-container button{
    background-color: #485C11;
    color: #FFFFFF;
    padding: 14px 22px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.fa-arrow-down{
    margin-left: 5px;
    transform: rotate(230deg);
    transition: transform 0.5s;
}
.navigation-container button:hover{
    opacity: 0.7;
}
.navigation-container button:hover .fa-arrow-down{
     transform: rotate(230deg) translateY(7px);
}
.hamburger-menu{
    display: none;
}
/* Hero section */
.hero-section{
    font-family: "Crimson Text", serif;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-section h1{
    font-size: clamp(3rem, 9vw, 10rem);
    font-weight: 200;
    line-height: 1.1;
    letter-spacing: -0.0425em;
    margin-bottom: clamp(2rem, 5vw, 5rem);
}
.img{
    width: 100%;
}
.img img{
    border: 7px solid rgb(18, 18, 18);
    border-radius: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 70%;
}
.img-bg{
    background-color: #8E9C78;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    border-radius: 20px;
}
.sponsor{
    padding: 2rem 0;
}
.sponsor p{
    margin-bottom: 1rem;
    font-size: 1rem;
    color: darkgray;
}
.sponsor-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.benefit{
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.benefit h2{
    font-size: 1rem;
    color: darkgray;
}
.benefit h2 + p{
    font-family: "Crimson Text", serif;
    font-size: 3.5rem;
    color: black;
    letter-spacing: -0.0425em;
    font-weight: 100px;
}
.benefit p{
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    color: darkgray;
}

.things-container{
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
}
.things-item{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.things-item img{
    width: 21px;
}
.things-item h3{
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: -0.033rem;
}
.things-item p{
    color: #6F6F6F;
    text-align: justify;
}
.img-banner{
    margin-bottom: 4rem;
}
.img-banner img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.feature-container{
    display: flex;
    justify-content: center ;
    gap: 40px;
    counter-reset: feature-content;
}
.feature-content{
    counter-increment: feature-content 0;
    counter-reset: feature-content-counter;
}
.feature-content h1{
    font-family: "Crimson Text", serif;
    font-weight: 500;
    letter-spacing: -0.033rem; /* -0.3% */
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 3.6rem;
}
.feature-content h1 + p{
    font-size: 1rem;
    color: #6F6F6F;
    margin-bottom: 40px;
}
.feature-content p{
    letter-spacing: -0.005rem; /* -0.5% */
    text-align: justify;
}
.feature-content-counter{
    padding: 20px 80px 20px 0;
    display: flex;
    gap: 30px;
}
p.feature-content-counter{
    counter-increment: feature-content-counter;
}

p.feature-content-counter::before{
    content: counter(feature-content)counter(feature-content-counter);
    color: #6F6F6F;
    letter-spacing: -0.005rem; /* -0.5% */
}
.discover{
    margin-top: 40px;
    padding: 15px 15px;
    border-radius: 1000px;
    cursor: pointer;
    background-color: #DFECC6;
    border: none;
    font-weight: 600;
    box-shadow: 0px 4px 10px #ddd;
    transition: background-color 500ms;
}
.discover:hover{
    background-color: #485C11;
    opacity: 0.7;
    color: white;
}
.reason-container{
    margin-top: 80px;
    width: 100%;
}
.why{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
    padding: 10px;
}
.why .specs-label{
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    letter-spacing: -0.001rem;
    color: #485C11;
    font-weight: 500;
}
.why h1{
    text-align: center;
    font-family: "Crimson Text", serif;
    font-size: 4.2rem;
    letter-spacing: -0.126rem;
    font-weight: 500;
}
.why p{
    font-size: 1rem;
    text-align: center;
    letter-spacing: -0.005rem; /* -0.5% */
    font-weight: 400;
    color: #6F6F6F;
}
.reason-container table{
    border-collapse: collapse;
    border: none;
    margin: 0 auto;
    width: 100%;
}
.reason-container table tbody tr i{
    margin-right: 1.5rem;
}
.reason-container table thead tr th{
    padding: 40px 30px;
}
.reason-container table tbody tr td{
    padding: 32px 30px;
}
.reason-container table thead tr th{
    border-right: 1px solid #ddd;
    border-bottom: 2px solid black;
}
.reason-container table thead tr th:last-child{
    border-right: none;
}
.reason-container table tbody tr td{
    border: 1px solid #ddd;
}
.reason-container table tbody tr td:first-child{
    border-left: none;
}
.reason-container table tbody tr td:last-child{
    border-right: none;
}
.reason-container table thead tr th{
    font-size: 1.7rem;
    letter-spacing: -0.136rem;
    font-weight: 500;
    color: black;
}
.area{
    font-family: "DM Sans", sans-serif;
}
.reason-container table thead tr .area + th{
    font-family: "Rethink Sans", sans-serif;
    color: #6F6F6F;
}
.reason-container table thead tr th:last-child{
    font-family: "Reddit Mono", monospace;
    color: #6F6F6F;
}
.reason-container table tbody tr td{
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    letter-spacing: -0.01rem;
}
/* Responsive Breakpoints */
/* Tablet */
@media screen and (max-width: 1042px) {
    .hero-section h1{
        font-size: 7rem;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation-container{
        width: 100%;
    }
    nav{
        display: none;
    }
    .navigation-container button{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    .things-container{
        grid-template-columns: repeat(2, 1fr);
  
    }
    .feature-container{
        flex-direction: column;
    }
    .hero-section .img img{
        content: url(img/hero-img/InnerscreenTablet.jpg);
    }
    .img-banner img{
        content: url(img/Hero\ Image-tablet.jpg);
    }
    .product-img img{
        content: url(img/feautures/Features-carousel-tablet.jpg);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/* Mobile */
@media screen and (max-width: 784px){
    /* body{
        background-color: blue;
    } */
    .hero-section .img img{
        content: url(img/hero-img/InnerscreenMobile.jpg);
    }
    .img-banner img{
        content: url(img/Hero\ Image-mobile.jpg);
    }
    .product-img img{
        content: url(img/feautures/Features-carousel-mobile.jpg);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}